<!doctype html>
<html
    xmlns="http://www.w3.org/1999/xhtml" lang="en"
    xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WeighTrack</title>
  <link rel="stylesheet" href="Resources/Public/Generated/main.css">
  <link rel="shortcut icon" type="image/x-icon" href="Resources/Public/Icon/favicon.ico">
</head>

<body>
<f:render partial="NavBar" section="Main"/>
<f:render section="Main"/>
</body>
</html>
