/* -----------font------------------ */

$mainFont: 'Amaranth', sans-serif;

/* -----------color------------------ */

$background-primary: #fff;
$font-color: #000;
$background-secondary: rgba(27, 254, 61, 0.51);
$LogIn-background: #f59836;
